body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
label{
    color: blue;
    font-style: oblique;
}
button{
    color: rgba(10, 71, 125, 0.639);
}
input{
    color: burlywood;
}