body{
   background-color: rgb(9, 1, 13);
   text-align: center;
   padding: 30px 60px;
}
h1{
   font-size: 4rem;
   text-shadow: 0 0 3rem blue ;
   color: red;
}
table{
   margin-left: auto;
   margin-right: auto;
}
h5{
   color: rgb(0, 255, 34);
   text-shadow: 0 0 4px cyan;
}