label{
    color: rgb(244, 98, 244);
}
button{
    color: peachpuff;
}
p{
    color: palevioletred;
}
h3{
    color: violet;
}
h1{
    color: magenta;
}
body{
    background-color: blue;
    text-align: center;
    margin-top: 10%;
}