body{
    background-color: cadetblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 30px 40px;
    border-radius: 12 px;
}
label{
    font-style: oblique;
    color: red;
    display: block;
    margin-top: 15px;
}
input{
    color: purple;
    width: 50%;
    height: 10%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid royalblue;
    box-sizing: border-box;
}
button{
    color: chocolate;
}
p{
    color: rgb(8, 31, 99);
}